/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mona sans", sans-serif;
    background-color: #ffffff;
    color: #333;
}

/* Navigation Bar */
nav {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navHeader {
    font-size: 1.8rem;
    font-weight: bold;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.navLinks {
    display: flex;
    align-items: center;
}

.navLinks a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navLinks a:hover {
    color: #7fff7f;
}

/* Insurance Button in Nav */
.getInsurance .btnInsurance {
    background-color: #060606;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.getInsurance .btnInsurance:hover {
    background-color: #333;
}
